.img-wrapper {
  width: 100%;
  max-height: 220px;
  overflow: hidden;
  border-radius: 8px;
  margin: 10px 0;
}

.img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.counter {
  padding: 8px 16px;
  color: #fff;
  font-weight: 600;
}

.empty {
  text-align: center;
  margin-top: 40px;
  color: #666;
}


.action-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .pdf-btn {
    --background: var(--ion-color-secondary);
    margin: 0;
  }

  .finalizar-btn {
    margin: 0;
  }
}


