.img-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.img-grid img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.counter {
  padding: 8px 16px;
  color: #fff;
  font-weight: 600;
}

.empty {
  text-align: center;
  margin-top: 40px;
  color: #666;
}


.action-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .pdf-btn {
    --background: var(--ion-color-secondary);
    margin: 0;
  }

  .finalizar-btn {
    margin: 0;
  }
}


